<div class="tabs">
    <input type="radio" name="tab" id="tab1">
    <label for="tab1">Gitment</label>
    <input type="radio" name="tab" id="tab2" checked="checked">
    <label for="tab2">Disqus</label>
    <input type="radio" name="tab" id="tab3">
    <label for="tab3">多说评论</label>

    <div class="tab-content-wrapper">
        <div id="tab-content-1" class="tab-content">
            {% include gitment_comment.html %}
        </div>
        <div id="tab-content-2" class="tab-content">
            {% include disqus_comments.html %}
        </div>
        <div id="tab-content-3" class="tab-content">
            {% include likee_comment.html %}
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/comments.css"/>
