---
# Front matter comment to ensure Jekyll properly reads file.
---
$slide-offset: 298px;
$slide-offset-small: 268px;

a,
#sidebar,
#fade,
body {
  -webkit-transition:all .25s ease;
  transition:all .25s ease;
}

a#slide {
  position:fixed;
  display:block;
  width:55px;
  height:40px;
  top:10px;
  left:10px;
  text-align:center;
  font:22px/40px "icon";
  color:#fff;
  background:#262626;
  border-radius:3px;
  z-index:31;
  &:hover {
    background:#39c492;
  }
  .slide:after{
    clear: both;
    position:absolute;
    top:11px;
    left:50%;
    width:40px;
    height:40px;
    margin:0 0 0 -20px;
    font:18px "icon" !important;
    vertical-align:middle;
  }
}

/*      Sidebar     */

#sidebar {
  position:fixed;
  overflow-y:scroll;
  height:100%;
  width:$slide-offset;
  padding:40px 30px 0;
  top:0;
  left:-$slide-offset;
  background:#191918;
  z-index:20;
  h2 {
    margin:0 0 6px !important;
    font:900 27px/1.68em "Lato",sans-serif;
    color:#fff;
  }
  hr {
    width:100%;
    height:1px;
    margin:40px 0 39px;
    background:#242424;
    border:0;
  }
  #navigation {
    hr {
      margin:11px 0 18px;
    }
    li {
      padding: 8px 0;
      margin: 8px 0;
      list-style-type:none;
      border-bottom: 2px groove #242424;
      a {
        padding:0 0 18px;
        font:700 22px/1.125em "Cambria";
        text-transform: uppercase;;
        color:#b3b3b1;
        &:hover {
          color:#ffffff;
        }
        & [class*=" icon-"] {
          margin-right: 5px;
        }
        @media screen and (max-width:700px) {
          font:700 20px/1.125em "Cambria";
        }
      }
    }
  }
  @media screen and (max-width:700px) {
    width:$slide-offset-small;
    left:-$slide-offset-small;
  }
}

#sidebar #navigation #slide-pages,
#sidebar #navigation #slide-filter {
  display:none;
  margin:10px 0;
  padding:0 0 0 18px;
  border-left:3px solid #242424;
}

@-moz-document url-prefix(){
  #sidebar #navigation #slide-filter {
    margin:10px 0 0 8px;
    padding:0 0 0 18px
  }
}

#sidebar #navigation #slide-pages li,
#sidebar #navigation #slide-filter li {
  margin:0 0 14px
}

#sidebar #navigation #slide-pages li a,
#sidebar #navigation #slide-filter li a {
  display:block;
  padding:0;
  font:700 14px/1em "Lato";
}

#sidebar #navigation #slide-pages li:last-child,
#sidebar #navigation #slide-filter li:last-child {
  margin:0;
}
/*      End-Sidebar     */

/*      Animation       */
@-webkit-keyframes fade{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fade{0%{opacity:0}100%{opacity:1}}@-o-keyframes fade{0%{opacity:0}100%{opacity:1}}@keyframes fade{0%{opacity:0}100%{opacity:1}}.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1.5s;animation-duration:1.5s;animation-delay:.5s;
-webkit-animation-delay:.5s;}.fade{-webkit-animation-name:fade;-moz-animation-name:fade;-o-animation-name:fade;animation-name:fade}

#sidebar.slide {
  left:0;
}

a#slide {
  &.slide {
    left:308px;
    pointer-events:none;
    @media screen and (max-width:700px) {
      left:278px;
    }
  }
}

body.slide {
  left:$slide-offset;
  overflow:hidden;
  @media screen and (max-width:700px) {
    left:$slide-offset-small;
  }
}

#fade {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events:none;
  background:transparent;
  z-index:30;
  &.slide {
    pointer-events:auto;
    left:$slide-offset;
    background:rgba(0,0,0,.2);
    @media screen and (max-width:700px) {
      left:$slide-offset-small
    }
  }
}
